1. Number Using a while loop

In [1]:
#let us suppose variable
a=1

In [2]:
a=1
while a<=5:
    print(a)
    a=a+1

1
2
3
4
5

In [3]:
#Hence we can print number using a while loop.

2. Sum of numbers from 1 to 10 using a while loop

In [1]:
total = 0
current_number = 1

while current_number <= 10:
    total += current_number
    current_number += 1

print("The sum of numbers from 1 to 10 is:", total)

The sum of numbers from 1 to 10 is: 55

In [2]:
#Hence we can print sum of numbers using a while loop.

3. Factorial of a number using a for loop

In [3]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

# Example usage
number = 5
print(f"The factorial of {number} is:", factorial(number))

The factorial of 5 is: 120

In [4]:
#Hence we can find the factorial of a number using a while loop.

4. Counting the number of vowels in a string using a for loop

In [6]:
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in input_string:
        if char in vowels:
            count += 1
    return count

# Example usage
input_string = "Data analytics"
print("Number of vowels in the string:", count_vowels(input_string))

Number of vowels in the string: 5

In [7]:
#Hence we can count numbers of vowel in a string using for loop.

5. Pattern using nested loops

In [8]:
for i in range(1, 4):
    for j in range(1, 4):
        print(f"({i}, {j})")

(1, 1)
(1, 2)
(1, 3)
(2, 1)
(2, 2)
(2, 3)
(3, 1)
(3, 2)
(3, 3)

In [9]:
#Hence we can print a pattern using nested loops.

6. Generating a multiplication table using nested loops.

In [1]:
# Define the range for the multiplication table
num_range = range(1, 11)

# Nested loop to generate the multiplication table
for i in num_range:
    for j in num_range:
        # Calculate the product of i and j
        product = i * j
        # Print the product with proper formatting
        print(f"{i} x {j} = {product}")
    # Print an empty line after each row
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [2]:
#Hence we can print multiplication table using nested loop.