In [1]:
#1.Converting an integer to a floating-point number
#let suppose a variable with following value
a=254
#let suppose another variable with following value
b=float(a)

In [2]:
print(b)

254.0

In [3]:
#hence changed an integer to a floating-point number

In [4]:
#2.Converting a float to an integer
#let suppose a variable with a float value
c=98.45
#let suppose another variable with following value
d=int(c)

In [5]:
print(d)

98

In [6]:
#hence changed a float to an integer

In [7]:
#3.Converting an integer to a string
#let suppose a variable with an integer value
f=8

In [8]:
#let suppose another variable with following value
g=str(f)

In [9]:
print(g)

8

In [10]:
type(g)

str

In [11]:
#hence change an integer to string

In [12]:
#4.Converting a list to a tuple
#let suppose a list 
l=[4,5,8,9, 'ashu', 44.23, (32+74j), True, [8,9,6,7]]

In [13]:
type(l)

list

In [14]:
#let suppose a variable with following value
x=tuple(l)

In [15]:
print(x)

(4, 5, 8, 9, 'ashu', 44.23, (32+74j), True, [8, 9, 6, 7])

In [16]:
type(x)

tuple

In [17]:
#hence we can convert list into a tuple

In [18]:
#5.Converting a tuple to a list
#let suppose a tuple 
t=(4,6,9,3, 25.69, (17+12j), False, [2,5,6,9])

In [19]:
type(t)

tuple

In [20]:
#now let suppose a variable with following value
s=list(t)

In [21]:
print(s)

[4, 6, 9, 3, 25.69, (17+12j), False, [2, 5, 6, 9]]

In [22]:
type(s)

list

In [23]:
#hence can convert a tuple into a list

In [24]:
#6.Convert a decimal number to binary
#let suppose a variable with following decimal value
u=56.78

In [25]:
type(u)

float

In [26]:
#now peroforming bitwise operation on value of variable u

In [27]:
bin(56.78)

TypeError: 'float' object cannot be interpreted as an integer

In [28]:
#hence found that float integer cannot be convert into an integer

In [29]:
#7.converting a non-zero number to boolean
#let us suppose a varible with following value
n=48

In [30]:
#now let us suppose another variable with following values
p=bool(n)

In [31]:
print(p)

True

In [32]:
type(p)

bool

In [33]:
#hence can convert a non-zero number to boolean