1. Numbers from 1 to 10 using continue

In [2]:
for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [3]:
#Hence we can write a program to print numbers from 1 to 10 using break.

2. Printing a list using break

In [4]:
# Sample list
my_list = [10, 20, 30, 40, 50, 60, 70]

# Element to stop at
stop_element = 40

# Iterate through the list
for element in my_list:
    print(element)
    if element == stop_element:
        break

10
20
30
40

In [5]:
#Hence we can iterate a list using break.

3. Printing numbers from 1 to 10 while skipping even numbers

In [6]:
for i in range(1, 11):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

In [7]:
#Hence we can print odd numbers from 1 to 10 using continue.

4. Printing numbers from 0 to 9 using range

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
#Hence we can print number from 0 to 9 using range.

5. Tables from 1 to 5

In [10]:
for i in range(1, 6):
    print(f"Multiplication table for {i}:")
    for j in range(1, 11):
        print(f"{i} x {j} = {i*j}")
    print()  # Empty line for separation

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [11]:
#hence we can print multiplication tables from 1 to 5.

6. Printing odd numbers using a while loop

In [12]:
num = 1
while num <= 10:
    if num % 2 != 0:
        print(num)
    num += 1

1
3
5
7
9

In [13]:
#Hence we can print odd numbers using while loop.